body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
}

h1, h2 {
    color: #222;
}

.project {
    background: #eaeaea;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #777;
}
